@use './variable.scss' as *;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0px;
  background-color: $color_body;
  // max-width: 2560px;
}

header {
  width: 100%;
  border-bottom: solid 1px $color_border;
}

main {
  overflow: hidden;
  background: $degrader_main;
}



// configuration de la police d'écriture
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: $color_h2;
}

p {
  line-height: 25px;
}